.keyboard__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.keyboard {
  user-select: none;
  max-width: 827px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background: radial-gradient(rgb(7, 117, 139), rgb(7, 117, 139));
  border: 2px solid rgb(247 249 253);
  box-shadow: 0px 0px 1px 2px rgb(66 222 255), 
              0px 0px 2px 2px rgb(24 206 239), 
              0px 0px 2px 3px rgb(24 206 239), 
              inset 0px 0px 1px 2px rgb(66 222 255), 
              inset 0px 0px 2px 3px rgb(24 206 239),
              inset 0px 0px 2px 3px rgb(24 206 239);
  border-radius: 5px;
  padding: 20px;
}
.keyboard__row {
  width: 778px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 10px;
}
.keyboard__key--space {
  min-width: 255px;
  height: 31.5px;
  vertical-align: top;
}